/**{
  border: 1px solid hotpink;
}*/

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
.navbar-brand {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  color: black;
  padding: 1em;
  vertical-align: bottom;
  animation: animated_div 5s 1;
  -moz-animation: animated_div 5s 1;
  -webkit-animation: animated_div 5s 1;
  -o-animation: animated_div 5s 1;
}

.btn, .btn-default, .navbar-btn{
  margin-top: 1.5em;
  margin-left: 1em;
  font-size: 18px;
}

.btn-default:hover{
  color: white;
  background-color: black;
}

.col-xs-12 {
  padding: 1em;
  text-align: center;
}

h1 {
  font-family: 'Pacifico', cursive;
}

h2, h3, h4 {
  color: teal;
  font-weight: bold;
  font-variant: small-caps;
}

.thumbnail:hover,  {
  border-color: none;
  box-shadow: 2px 2px #fff;

}

form {
  margin: auto;
}

/*.form-control {
  width: 30%;
}*/

.welcome, .account-info {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: inherit;
}

.img-rounded, {
 width: 282.5;
 height: 187.578px;
}

select, .add {
  margin-bottom: 1em;
}

.glyphicon, {
  padding: 1em;
}

.user-photos {

  width: 282.5;
  height: 187.578px;
}

/*from https://www.w3schools.com/css/css3_animations.asp*/

@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50% {transform: rotate(0deg);left:500px;}
55% {transform: rotate(0deg);left:500px;}
70% {transform: rotate(0deg);left:500px;}
100% {transform: rotate(-360deg);left:0px;}
}

@-webkit-keyframes animated_div
{
0% {-webkit-transform: rotate(0deg);left:0px;}
25% {-webkit-transform: rotate(20deg);left:0px;}
50% {-webkit-transform: rotate(0deg);left:500px;}
55% {-webkit-transform: rotate(0deg);left:500px;}
70% {-webkit-transform: rotate(0deg);left:500px}
100% {-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%  {-moz-transform: rotate(0deg);left:0px;}
25% {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:500px;}
55%  {-moz-transform: rotate(0deg);left:500px;}
70%  {-moz-transform: rotate(0deg);left:500px;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:500px;}
55%  {transform: rotate(0deg);left:500px;}
70%  {transform: rotate(0deg);left:500px;}
100% {transform: rotate(-360deg);left:0px;}
}
