body {
  font-family: 'Josefin Sans', sans-serif;
}
navbar, .navbar-brand {
  font-size: 36px;
  font-family: 'Pacifico', cursive;
  color: black;
  padding: 1em;
  vertical-align: bottom;
}



form {
  margin: auto;
}

.form-control {
  width: 30%;
}
