/*
Project Name: Ecard.ly
Client: General Assembly
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*-----------------------------------------------------------------------------
BASE STYLE
-----------------------------------------------------------------------------*/


body {
  background: url('images/background.jpg') repeat-x #d6d6d6;
  /*not sure why the background image isn't showing up*/
  font-family: helvetica;
  font-size: 12px;
  line-height: 1.7;
}

a {
  color: #ff3300;
  text-decoration: none;
}

/*-----------------------------------------------------------------------------
LAYOUT
-----------------------------------------------------------------------------*/

/* Center the container */
#container {
	width: 940px;
	margin: auto;
}

#header {
	margin-bottom: 40px;
}


#main {
	background: #FFF;
	float: left;
	width: 640px;
	padding: 20px;
}

	.post {
		margin-bottom: 50px;
	}

	.post-meta {
		border-top: 2px #000 dotted;
		border-bottom: 2px #000 solid;
		width: 600px;
		display: block;

	}

#sidebar {
	width: 280px;
	float: left;
	background: #FFF;
	margin-left: 20px;
	padding: 27px;
}

	/*#sidebar .widget {
		margin: 0 0 18px 0;

	}

#sidebar ul {
	color: #000;
	list-style: none;

}

#sidebar li {
	list-style: none;

}

#sidebar a {
	color: #000;
	text-decoration: none;
}

footer {
	margin: 50px;
	text-align: center;
}
