<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|The+Girl+Next+Door" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../main.css"/>
    <title>Authors Index</title>
  </head>
  <body>
    <div class="container">
    <nav class="main-nav">
      <a href="#">Portfolio</a>
      <a href="/">Blog</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
    <main>
        <h1>Authors:</h1>
        <ul>
          <% for (let i=0; i < authors.length; i++){ %>
            <li>
                <a href="/authors/<%=authors[i]._id%>"><%=authors[i].name%></a>
            </li>
          <% } %>
          <li>
            <a href="/authors/new">Add New Author</a>
          </li>
        </ul>
    </main>
    </div>
  </body>
</html>
