<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|The+Girl+Next+Door" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../main.css"/>
    <title>New Author</title>
  </head>
  <div class="container">
  <nav class="main-nav">
    <a href="#">Portfolio</a>
    <a href="/">Blog</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
  </nav>
  <body>
    <main>
    	<h1>Create an Author</h1>
      	<form action="/authors" method="post">
      				<input type="text" name="name" placeholder="Name" /><br/>
              <input type="submit" value="Create Author"/>
      	</form>
    </main>
  </div>
  </body>
</html>
