<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <h1>New Fruit page</h1>
        <form action="/fruits" method="post">
          Name: <input type='text' name="name"/><br/>
          Color: <input type="text" name="color"/>
          <br/>
          Is Ready to Eat: <input type="checkbox" name="readyToEat"/><br/>
          <input type="submit" value="Create Fruit"/>
        </form>
    </body>
</html>
