<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fruits App</title>
  </head>
  <body>
    <h1> New Fruits Page </h1>
    <form action="/fruits" method="POST">
    <input type="text" name="name" placeholder="Name"/><br>
    <input type="text" name="color" placeholder="Color"/><br>
    Is Ready to Eat: <input type="checkbox" name="readyToEat" /><br>
    <input type="submit" value="create fruit"/>
  </form>
  </body>
</html>
