<!DOCTYPE html>
<html ng-app="TriviaApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="TriviaController as ctrl">
    <div>{{ctrl.foundQuestion}}</div>
    <br/>
    <button ng-click="ctrl.question()">Random Trivia Question</button>
    <br/>
    <br/>
    <button ng-click="ctrl.hide">Show Answer</button>
    <div ng-hide="ctrl.foundAnswer">{{ctrl.foundAnswer}}</div>
  </body>
</html>
