<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokemon Manager</title>
  </head>
  <body>
    <h1>Pokemon Manager</h1>
    <div>
    <% for (let i=0; i < pokemon.length; i++) { %>
      <img src=
      <%= pokemon[i].img %> >
    <% } %>
  </div>
  </body>
</html>
