<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Your Own Pokemon!</title>
  </head>
  <body>
    <h1>Create Your Own Pokemon</h1>
    <form action="/pokemon" method="post"> <br>
      Name<br> <input type="text" name="name"/> <br>
      Type<br><input type="text" name="type"/> <br>
      Stats<br><input type="text" name="stats"/> <br>
      Image <input type="file" name="image"/> <br>
      <input type="button" value="Create My Pokemon"/>
  </body>
</html>
