<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Mongoose Store</title>
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <img class="logo" src="http://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/t/563903fce4b0aea7317b07d0/1500739168444/?format=1500w" alt="Portola"/>
      </div>
      <div class="nav">
        <h1>STORE</h1>
      </div>
      <div class="row-1">
        <img class="left" src="https://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/5642d782e4b0b66656be5260/566630a1d82d5ed3d73b6434/1449538175635/108_EHLOT5.jpg?format=1000w" alt="Elida Honey"/>
        <img class="center" src="https://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/5642d782e4b0b66656be5260/566632459cadb6bd7433a0c8/1449538164720/108_ENLOT26.jpg?format=1000w" alt="Elida Natural"/>
        <img class="right" src="https://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/5642d782e4b0b66656be5260/566634f85a56681efd48e08f/1449538828264/108_terraincog.jpg?format=1000w" alt="Terra Incognita"/>
     </div>
    <div class="row-2">
      <img class="left" src="https://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/5642d782e4b0b66656be5260/5666374b0ab3770764d303c7/1449539407454/108_alchem.jpg?format=1000w" alt="Alchemist"/>
      <img class="center" src="https://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/5642d782e4b0b66656be5260/566638b4b204d5891f094b28/1449539764330/108_decafsum.jpg?format=1000w" alt="Decaf Sumatra Mandheling"/>
      <img class="right" src="https://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/5642d782e4b0b66656be5260/56d2379701dbae76ad91a46a/1456618057787/El+Burro+Honey.jpg?format=2500w" alt="El Burro - Honey Geisha"/>
    </div>
    <div class="row-3">
      <img class="left" src="https://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/5642d782e4b0b66656be5260/56d23c527da24f7ba20abd32/1456618582324/DSC06546.JPG?format=2500w" alt="La Milagrosa 'Mixto'"/>
      <img class="center" src="https://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/5642d782e4b0b66656be5260/56d24722c6fc087c73fb4ba0/1456621349584/La+Milagrosa+Geisha1.jpg?format=2500w" alt="La Milagrosa Geisha"/>
      <img class="right" src="https://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/5642d782e4b0b66656be5260/583de8bc197aea2450150409/1499182984630/kiamabara_web.jpg?format=2500w" alt="Kiamabara AA"/>
    </div>
    <br/>
    <br/>
    <nav>
    <a href="shop/new">Add</a>
  </nav>
  </div>
  </body>
</html>
