<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Mongoose Store</title>
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <img class="logo" src="http://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/t/563903fce4b0aea7317b07d0/1500739168444/?format=1500w" alt="Portola"/>
      </div>
      <div class="nav">
        <h1>SHOP</h1>
        <a class="crud" href="/shop/new">Add to Shop</a>
      </div>
      <div class="image-container">
        <% for (let i=0; i < products.length; i++) { %>

        <div class="single-img">
            <a href="/shop/<%=products[i].id%>">
              <img class="images" src="<%= products[i].img %>"/>
            </a>
            <br/>
            <%=products[i].name%>

        </div>

        <% } %>
     </div>
    </div>
    <br/>
    <br/>
  </div>
  </body>
</html>
