<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Mongoose Store</title>
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <img class="logo" src="http://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/t/563903fce4b0aea7317b07d0/1500739168444/?format=1500w" alt="Portola"/>
      </div>
      <div class="nav">
        <h1>STORE</h1>
      </div>
      <div class="product-info">
        <%# <img src="<%= product.img %>" />%>
        <table>
        <tr>
          <td><h1><%=product.name%></h1></td>
        </tr>

        <tr>
          <td><h3>Flavor Notes: <%=product.description%></h3></td>
        </tr>
        <tr>
          <td><h3>$<%=product.price%></h3></td>
        </tr>
      </table>
      </div>
      <div class="input">
        <input type="submit" value="Edit"/>
        <input type="submit" value="Delete"/>
      </div>

  </div>
  </body>
</html>
