<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><link href="https://fonts.googleapis.com/css?family=Quicksand|The+Girl+Next+Door" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../main.css"/>
    <title>Show</title>
  </head>
  <nav class="main-nav">
    <a href="#">Portfolio</a>
    <a href="/">Blog</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
  </nav>
  <body>
    <div class="container">
      <h1>Articles Attributes></h1>
      <div>
        <form action="/articles/<%=article._id%>?_method=PUT" method="post">
				<input type="text" name="title" value="<%=article.title%>"/><br/>
				<textarea name="body"><%=article.body%></textarea><br/>
				<input type="submit" value="Update Article"/>
			</form>

      </div>
    </div>
  </body>
</html>
