<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|The+Girl+Next+Door" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../main.css"/>
    <title>Submit Article</title>
  </head>
  <div class="container">
  <nav class="main-nav">
    <a href="#">Portfolio</a>
    <a href="/">Blog</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
  </nav>
  <body>
    <main>
    	<h1>Write an Article</h1>
      	<form action="/articles" method="post">
      				<input type="text" name="title"  placeholder="Title" /><br/>
              <input type="textarea" name="body"  placeholder="Article Text" </textarea><br/>
              <input type="submit" value="Submit Article"/>
      	</form>
    </main>
  </div>
  </body>
</html>
