html {
  background-image: url("http://www.publicdomainpictures.net/pictures/90000/velka/flowers-garden-watering-can.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*position info from stack overflow*/
  background-size: cover;
  }

div {
    width: 600px;
    height: auto;
    margin: auto;
    }

section {padding: 30px;
        border: 3px;
        border-style: solid;
        border-color: #ADC7E1;
        }

h1 {font-family: 'Amatic SC', cursive;
    font-size: 72px;
    color: #8CC63E;
    }
h3 {font-family: 'Amatic SC', cursive;
      font-size: 36px;
      color: black;
      }
p {font-family: 'Open Sans', sans-serif;
    }
button {font-family: 'Amatic SC', cursive;
        font-size: 24px;
        font-weight: bolder;
        background: #8CC63E;
        color: white;
        width: 60px;
        margin: auto;
        align-self: center;
        border-color: #8CC63E;
        }
