li {
  margin: 10px;
}

.mammal {
  color: red;
  font-weight: bold;
  border: 5px solid paleVioletRed;
}

.bird {
  color: blue;
  border: 5px solid CornflowerBlue;
  font-style: italic;
}

.fish {
  color: orange;
  border: 5px solid DarkSlateGray;
  text-decoration: underline;
}

#mouse {background: lightgray;
text-decoration: line-through;}

#canary {background: orangeRed;}

#penguin {background: black;}

#salmon {background: salmon;}

#cat {background: sienna;}

#goldfish {background: gold;}

#dog {background: tan;}

#sheep {background: steelBlue;}

#parakeet {background: lime;}

#tuna {background: purple;}
