<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
            <h1>Author Edit Page</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/authors">Author Index</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Author Attributes:</h2>
            <form action="/authors/<%=author.id%>?_method=PUT" method="POST">
                <input type="text" name="name" value="<%=author.name%>" />
                <input type="submit" value="Update Author" />
            </form>
        </main>
    </body>
</html>
