<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
            <h1>Create an Author</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/authors">Authors Index Page</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <form action="/authors" method="POST">
                <input type="text" name="name" /><br/>
                <input type="submit" value="Create Author" />
            </form>
        </main>
    </body>
</html>
