<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Fruit</title>
  </head>
  <body>
    <h1>Edit Fruit Page</h1>
    <form action="fruits/<%= index %>?_method=PUT" method="post">
      Name: <input type="text" name="name" value="<%=fruit.name%>"/><br>
      Color: <input type="text" name="color" value="<%=fruit.color%>"/><br>
      Is Ready to Eat: <input type="checkbox" name="readyToEat">
      <% if(fruit.readyToEat === true){ %>
        checked
      <% } %>
      />
      <br>
    </form>
  </body>
</html>
