body {
    background: white;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 3em;
  text-align: center;
}

#board {
  height: 800px;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 10%;
  height: auto;
  margin: 0 auto;
}

.square {
  border: 1px dotted black;
  height: 250px;
  width: 250px;
  align-content: center;
  display: inline-block;
}
