<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Normalize CSS -->
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../main.css">

    <title></title>
  </head>
  <body>
  <div class="container">
    <!--Nav Bar-->
    <nav class="navbar">
      <p class="navbar-brand">WikiPhoto</p>
      <a href="/users" class="btn btn-default navbar-btn">Sign In</a>
      <a href="/photos" class="btn btn-default navbar-btn">See Photos</a>
    </nav>



    <!--Images-->
    <div class="row">
        <div class="col-xs-6">
          <a href="#" class="thumbnail">
            <img src="http://xinature.com/wp-content/uploads/2016/08/flowers-filtered-beauty-tree-nature-maple-sunlight-garden-wallpapers.jpg"/>
          </a>
        </div>

        <div class="col-xs-6">
          <a href="#" class="thumbnail">
            <img src="http://www.wallpaperup.com/uploads/wallpapers/2013/02/14/40048/big_thumb_09d174e48c07484d54951e0fb5aa591d.jpg"/>
          </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
          <a href="#" class="thumbnail">
            <img src="https://media.timeout.com/images/102838002/image.jpg"/>
          </a>
        </div>
        <div class="col-xs-6">
          <a href="#" class="thumbnail">
            <img src="http://blog.opentable.com/wp-content/uploads/2016/10/London.jpeg"/>
          </a>
        </div>
    </div>



  </div>
  </body>
</html>
