<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Welcome to the Blog</h1>
			<nav>
				<ul>
					<li>
						<a href="/authors">Authors</a>
					</li>
					<li>
						<a href="/articles">Articles</a>
					</li>
          <li>
            <a href="/sessions/login">Login</a>
          </li>
          <li>
            <a href="/sessions/register">Register</a>
          </li>
				</ul>
			</nav>
		</header>
	</body>
</html>
