body {
  font-family: 'Fresca', serif;
  color: black;
}


img {
  width: 100%;
  height: auto;
  display: flex;
}
#container {
  width: 70%;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  margin-left: 15%;
  margin-right: 15%;
}

/*.secret {
  opacity: 0.5;
}*/

ul li {
  list-style: none;
}



table {
  margin: 0 auto;
  text-align: justify;
}

/*.cabbage {
  color:CHARTREUSE;
}*/

h1 {
  font-family: 'Princess Sofia', cursive;
  color: black;
  font-size: 48px;
  text-align: center;
}

h3, h3, h4, h5 {
  font-size: 1em;
  padding: 1em;
}

h3, h5 {
  font-weight: bold;
}

tr, th, td {
  align-items: center;
  vertical-align: top;
}

th {
  font-size: 1em;
  font-weight: bold;
}
