body {
    background: white;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 5em;
  text-align: center;
}

#board {
  height: 750px;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 10%;
  height: auto;
  margin: 0 auto;
  justify-content: space-around;
}

.square {
  border: 1px solid black;
  height: 250px;
  width: 250px;
  align-content: center;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height:250px;
  font-family: arial;
  font-size: 80px;
  overflow: hidden;
}
