<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Normalize CSS -->
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../main.css">
    <title>Sign In</title>
  </head>
  <body>
    <div class="container">
      <!--Nav Bar-->
      <nav class="navbar">
        <p class="navbar-brand">WikiPhoto</p>
        <a href="/" class="btn btn-default navbar-btn navbar-right">Home</a>
      </nav>
      <div class="row">
        <a class="btn btn-default" href="photos/new">Add</a>
      </div>
      <div class="row">

            <% for(let i=0; i < photos.length; i++){ %>
            <a href="/photos/<%=photos[i].id%>">
            <img class="thumbnail img-rounded col-xs-3" src="<%=photos[i].img%>"/></a>

            <% } %>

      </div>
    </div>
  </body>
</html>
