/** {
  border: 1px solid teal;
}*/

/************************
* General
*************************/

.container {
  display:flex;
  justify-content: space-around;
  width: 94%;
  margin: auto;
  margin-top: 1.5em;

}

/************************
* Column 1
*************************/
.col-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img {
  width: 50%;
  opacity: .5;
}

a {
  display: block;
  color : lightgrey;
  text-decoration: none;
  font-weight: lighter;
  font-size: .5em;
}
/************************
* Column 2
*************************/
.col-2 {
  margin-bottom: 0;
}

img {
 border-radius: 10px;
}
.row-1 > img {
  width: 100%;
}

.row-2 , .row-3 {
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
}

.row-2 img {
  width: 32%;
  height: 32%;
}

.row-3 img {
  width: 49%;
  height: 49%;
}
