.container {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

.banner {
  background-image: url("https://static1.squarespace.com/static/563903b0e4b0c30c71cf516a/t/566bafaf69a91af72b2db086/1449897905819/shop_page_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 668px;
}

.logo {
  margin-top: 10%;
  margin-left: 30%;
}



.nav {
  background-color: #eeeeee;
  line-height: 3em;
  letter-spacing: 1em;
  text-align: center;
  width: 100%;
}

.image-container {
  display: flex;
  clear: both;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  align-content: space-between;
}

.images {
  width: 400px;
  height: auto;
  padding: 1.5%;
}

.new-info {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  padding: 2%;
  font-size: 1em;
  width: 30vw;
  height: 5vh;
  text-align: center;
  font-weight: bold;
}

.description {
  height: 20vh;
  vertical-align: top;
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding 1%;
  width: 5vw;
  height: auto;
  margin: 0 auto;
}

.product-info {
  width: 100%;
  padding: 5%;
  height: auto;
  margin: 0 auto;
  flex-direction: column;
}

.input {
  width: 2em;

}
