body {
    text-align: center;
    margin: 0;
}

header {
  background-color: #F15B31;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

nav {
  background-color: #00A6B3;
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
  width: 850px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

img {
  margin-top: 40px;
  margin-right: 8px;
  margin-left: 8px;
}

footer {
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  font-size: 6px;
  letter-spacing: .08em;
  font-weight: 500;
  /*below not in instructions*/
  position: absolute;
  width: calc(100% - 40px);
  bottom: 0;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #0D2C40;
    letter-spacing: 1px;
    font-size: 45px;
    margin: 0;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #0D2C40;
    letter-spacing: 1px;
    font-size: 20px;
}

a {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #F15B31;
    letter-spacing: 1px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    /*below not in instructions*/
    text-decoration: none;
}

a:hover {
  border-bottom: 2px solid white;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

footer p {
  font-family: "Raleway", sans-serif;
  /*below not in instructions*/
  font-size: 10px;
}

.copyright {
  float: left;
}

.message {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #F15B31;
  font-weight: 700;
}
