<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"></script>

    </head>
   <style>

   body {
    background-image: url(https://www.flickr.com/photos/25114742@N07/36428878572/);
   }
   </style>


    <body ng-controller="BaseCtrl as base">
<!--    var img_src = "http://farm5.static.flickr.com/4368/36428878572_b01202c4cb_m.jpg"; -->
      <img src="http://farm5.static.flickr.com/4368/36428878572_b01202c4cb_m.jpg" alt="">



         <script src="/app.js" charset="utf-8"></script>
    </body>
</html>
