<!DOCTYPE html>
<html ng-app="CarsApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="CarsController as ctrl">

    <ul>
      <h1>Car Types</h1>
      <li ng-repeat="type in ctrl.types">{{type}}</li>
    </ul>

    <ul>
      <h1>Car Colors</h1>
      <li ng-repeat="color in ctrl.colors">{{color}}</li>
    </ul>

  </body>
</html>
