<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Fruits Index Page</h1>
        <% for(let i = 0; i < allFruits.length; i++) { %>
            <a href="/fruits/<%=i%>"><%=allFruits[i].name%></a>
        <% } %>
        <nav>
            <a href="/fruits/new">Create a Fruit</a>
        </nav>
    </body>
</html>
