<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Fruits show page</h1>
        The <%=fruit.name%> is <%=fruit.color%>.
        <% if(fruit.readyToEat) { %>
            It is ready to eat.
        <% } else { %>
            It is not ripe yet!
        <% } %>
    </body>
</html>
