<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%# css%>
    <link rel="stylesheet" href="../style.css" type="text/css"/>
    <title>OC Cavaliers</title>
  </head>
  <img src="http://www.yourpurebredpuppy.com/dogbreeds/photos-CD/cavalierkingcharlesspanielsf5.jpg" alt="Four Colors"/>
  <body>
    <h1>Register Your Cav!</h1>
    <form action="/cavs" method="POST">
      <input type="text" name="human_name" placeholder="Your Name"/><br>
      <input type="text" name="cav_name" placeholder="Cav's Name"/><br>
      <input type="text" name="color" placeholder="Color (ex. Blenheim, Tri)"/><br>
      <input type="text" name="sex" placeholder="M/F"/><br>
      Is your pup spayed or neutered? Check for yes.<input type="checkbox" name="altered"/><br>
      <input type="submit" value="submit"/><br>
    </form>
  </body>
</html>
