
/*specifications from Oscar website*/

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.container {
  position: fixed;
  font-family: 'Quicksand', sans-serif;
  color: black;
  width: 100%;
  height: 125px;
  float: left;
  display: inline-block;
  background-color: white;
  overflow: visible;
  padding: 0 10px 10px 10px;
}

.container h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  color: #0031E2;
  width: 75%;
  padding-left: 15px;
  float: left;
  display: inline-block;
}

.container li {
  font-size: 20px;
  width: auto;
  float: left;
  display: inline-block;
  list-style: none;
  padding-right: 15px;
}

#business {
  text-align: center;
  font-weight: bold;
  background-color: #F9F9F9;
  line-height: 50px;
  font-size: 12px;
  width: inherit;
}

.button {
  background-color: #26CFA2;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 15px 23.5px;
  width: 151.25px;
  /*dimensions from Oscar website*/
  height: 21px;
  float: left;
  margin: 20px;
  border-radius: .4rem;
  /*border-radius from W3 schools*/

}


h1 {
  font-family:'Abril Fatface', cursive;
  font-size: 48px;
  font-weight: lighter;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  color: #0031E2;
}



.experience, .plans, .network {
  height: 600px;
  width: 100%;
  display: inline-block;
  padding: 30px;
  margin: 30px;
  background-color: white;
}

.intro {
  height: 600px;
  width: 100%;
  padding: 15px;
  padding-top: 150px;
  margin: 20px;
  margin-top: auto;
  background-color: white;
}


#welcome {
  width: 35%;
  float: left;
  display: inline-block;
  overflow: auto;
}

#hi {
  color: #9B9B9B;
}

#image-container {
  width: 55%;
  float: left;
  display: inline-block;
  padding: 15px;
}

#image-container img {
  width: 550px;
  height: auto;
}

img {
  width: 200px;
  height: auto;
}

.left-image {
  width: 30%;
  float: left;
  display: inline-block;
  overflow: auto;
}


.right-text {
  width: 60%;
  float: left;
  display: inline;
}


a:active, a:hover, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

ol {
  float: left;
  display: in-block;
}

li {
  float: left;
  display: in-block;
  margin: 10px;
  padding: 10px;
  width: 25%;
}

.info {
  color: white;
  height: 600px;
  width: 100%;
  background-color: #0031E2;
  padding: 15px;
}

.info h2 {
  width: 20%;
  height: auto;
  padding: 15px;
  float: left;
  display: inline-block;
  color: white;
}

.info ul {
  width: 70%;
  float: left;
  display: inline-block;
}

.info li {
    list-style: none;
    width: 70%;
    float: left;
    display: inline-block;
}

a#more {
  font-size: 12px;
  color: #26CFA2;
}

#oscar {
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  width: 20%;
  padding-left: 15px;
  float: left;
  display: inline-block;
}

.links {
  height: 600px;
  width: 70%;
  font-size: 16px;
  color: white;
  float: left;
  display: inline-block;
}

.links li {
  width: 20%;
  padding: 15px;
}

footer {
width: 100%;
}


footer ul, footer li {
  float: left;
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  color: white;
  list-style: none;
}
