<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Authors</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/authors/new">Create a new Author</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>List of Authors</h2>
			<ul>
				<% for(let i = 0; i < authors.length; i++){ %>
					<li>
						<a href="/authors/<%=authors[i]._id%>"><%=authors[i].name%></a>
					</li>
				<% } %>
			</ul>
		</main>
	</body>
</html>
